
<h2 style="color: red;">{{erMessage.message}}</h2>

<div *ngIf="!(erMessage && erMessage.message!=undefined)">
 
<div class="chart-container" >  
  <h2>CityWise User</h2>  
  <canvas id="canvas1">{{ DoughNutChartCityWise }}</canvas>    
</div>    

<div class="chart-container" >    
  <h2>StateWise User</h2>  
  <canvas id="canvas2">{{ DoughNutChartStateWise }}</canvas>    
</div>  


<div class="chart-container">    
  <h2>ProductWise User</h2>  
  <canvas id="canvas3">{{ DoughNutChartProducteWise }}</canvas>    
</div>  

<div class="chart-container">    
  <h2>PaymentWise User</h2>  
  <canvas id="canvas4">{{ DoughNutChartPaymentWise }}</canvas>    
</div>  
</div>



