
<h2 style="color: red;">{{erMessage.message}}</h2>

<div *ngIf="!(erMessage && erMessage.message!=undefined)">
  <div class="chart-container" >  
    <h2>CityWise User</h2>  
    <canvas id="canvas1">{{ PieChartCityWise }}</canvas>    
  </div>  

  <div class="chart-container" >    
    <h2>StateWise User</h2>  
    <canvas id="canvas2">{{ PieChartStateWise }}</canvas>    
  </div>  


  <div class="chart-container">    
    <h2>ProductWise User</h2>  
    <canvas id="canvas3">{{ PieChartProducteWise }}</canvas>    
  </div>  

  <div class="chart-container">    
    <h2>PaymentWise User</h2>  
    <canvas id="canvas4">{{ PieChartPaymentWise }}</canvas>    
  </div>  
</div>
